h1, h2 {
    text-align: center;
}
h2.question > p {
    font-weight: bold;
}
button.btn {
    display: block;
    margin: 0 auto;
}

ul, li {
    list-style-type: none;

}
img {
    display: block;
    margin: 0 auto;
}

p {
    font-weight: bold;
    text-align: center;
}

p.correct {
    color: #53a80a;
}

p.incorrect {
    color: #d32710;
}
p.score{
    text-transform: uppercase;
    text-align: center;
}

/* bootstrap buttons */

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:hover{
    background: green;
}